/* The Modal (background) */
.modal {
  border-radius: 25px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  border-radius: 25px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

/* Set a style for all buttons */
button {
  border-radius: 25px;
  background-color: #ffffff;
  color: black;
  padding: 5px 20px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
  width: 30%;
  font-size: 28px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;

}

/* Modal Content/Box */
.modal-content {
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #ffffff;
  margin: 20px auto; /* 15% from the top and centered */
  border: 1px solid #000000;
  width: 30%; /* Could be more or less, depending on screen size */
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: normal;
  color: black;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  border-radius: 25px;
  position: absolute;
  right: 25px;
  top: 0;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
